<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <!-- Navbar -->
            <nav
                class="navbar navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4">
                <div class="container-fluid ps-2 pe-0">
                    <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="../pages/dashboard.html">
                        Material Dashboard 2
                    </a>
                    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon mt-2">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center me-2 active" aria-current="page"
                                    href="../pages/dashboard.html">
                                    <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-2" href="../pages/profile.html">
                                    <i class="fa fa-user opacity-6 text-dark me-1"></i>
                                    Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-2" href="../pages/sign-up.html">
                                    <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                                    Sign Up
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-2" href="../pages/sign-in.html">
                                    <i class="fas fa-key opacity-6 text-dark me-1"></i>
                                    Sign In
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav d-lg-block d-none">
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/product/material-dashboard"
                                    class="btn btn-sm mb-0 me-1 bg-gradient-dark">Free download</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
    </div>
</div>
<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div
                        class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
                        <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center"
                            style="background-image: url('../assets/img/illustrations/illustration-signup.jpg'); background-size: cover;">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
                        <div class="card card-plain">
                            <div class="card-header">
                                <h4 class="font-weight-bolder">Sign Up</h4>
                                <p class="mb-0">Enter your email and password to register</p>
                            </div>
                            <div class="card-body">
                                <form role="form" [formGroup]='signUp'>
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Name</label>
                                        <input type="text" class="form-control" formControlName="Name">
                                    </div>
                                    <div *ngIf="signUp.controls['Name'].invalid&&(signUp.controls['Name'].touched||
                                    signUp.controls['Name'].dirty)">
                                        <div *ngIf="signUp.controls['Name'].errors.minlength" style="color: crimson;">
                                            Min length 8
                                        </div>
                                        <div *ngIf="signUp.controls['Name'].errors.required" style="color: crimson;">
                                            name is required
                                        </div>
                                    </div>
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" formControlName="Email">
                                    </div>
                                    <div *ngIf="signUp.controls['Email'].invalid&&(signUp.controls['Email'].touched||
                                    signUp.controls['Email'].dirty)">
                                        <div *ngIf="signUp.controls['Email'].errors.email" style="color: crimson;">
                                            write a valid mail please!!
                                        </div>
                                        <div *ngIf="signUp.controls['Email'].errors.required" style="color: crimson;">
                                            Email is required
                                        </div>
                                    </div>
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Password</label>
                                        <input type="password" class="form-control" formControlName="Password">
                                    </div>
                                    <div *ngIf="signUp.controls['Password'].invalid&&(signUp.controls['Password'].touched||
                                    signUp.controls['Password'].dirty)">
                                        <div *ngIf="signUp.controls['Password'].errors.minlength" style="color: crimson;">
                                            Min length 10
                                        </div>
                                        <div *ngIf="signUp.controls['Password'].errors.required" style="color: crimson;">
                                            Password is required
                                        </div>
                                    </div>
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">Confirme Password</label>
                                        <input type="password" class="form-control" formControlName="pwd">
                                    </div>
                                    <div *ngIf="signUp.controls['pwd'].invalid&&(signUp.controls['pwd'].touched||
                                    signUp.controls['pwd'].dirty)">
                                        <div *ngIf="signUp.controls['pwd'].errors.minlength" style="color: crimson;">
                                            Min length 10
                                        </div>
                                        <div *ngIf="signUp.controls['pwd'].errors.required" style="color: crimson;">
                                            confirme password is required
                                        </div>
                                        <div *ngIf="signUp.controls['pwd'].errors.confirm" style="color: crimson;" >please write password correctly</div>
                                    </div>
                                    <div >
                                        <select class="custom-select" aria-label="Default select example"  formControlName="role" >
                                            <label class="form-label">Role</label>
                                            <option selected >sign up as </option>
                                            <option value="student">Student</option>
                                            <option value="teacher">Teacher</option>
                                          </select>
                                    </div>
                                    <div class="text-center">
                                        <button type="button"
                                            class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0"
                                            (click)="sign()">Sign
                                            Up</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                <p class="mb-2 text-sm mx-auto">
                                    Already have an account?
                                    <a href="../pages/sign-in.html"
                                        class="text-primary text-gradient font-weight-bold">Sign in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>